<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      #loadingIndicator {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        font-size: 1.5em;
        z-index: 1000;
        align-items: center;
        justify-content: center;
      }

      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <form
      id="uploadForm"
      action="/upload"
      method="POST"
      enctype="multipart/form-data"
      onsubmit="return handleFormSubmit()"
    >
      <div>
        <label for="files">Select file</label>
        <input type="file" id="files" name="files" accept=".pdf" />
      </div>

      <div class="doctor-input">
        <label for="doctor">Doctor's Email</label>
        <input
          type="text"
          id="doctor"
          name="doctor"
          placeholder="Enter doctor's email"
        />
      </div>
      <div class="btn-main">
        <button type="button" onclick="addDoctor()">Add Doctor</button>
        <button type="submit" id="uploadBtn" class="loading">
          Upload and Send
        </button>
      </div>
    </form>

    <div class="table-main">
      <table>
        <thead>
          <tr>
            <th class="text-start">#</th>
            <th>Doctor's Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="doctorsTableBody"></tbody>
      </table>
    </div>

    <!-- Loading indicator -->
    <div id="loadingIndicator">Uploading file...</div>
  </body>

  <script>
    async function addDoctor() {
      const doctorName = document.getElementById("doctor").value;
      const uploadBtn = document.querySelector("button[type='submit']");

      if (!doctorName) {
        alert("Doctor's name can not be empty.");
        return;
      }
      const response = await fetch("/add-doctor", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ doctor: doctorName }),
      });

      if (response.ok) {
        const newRow = `
        <tr>
          <td>${
            document.getElementById("doctorsTableBody").rows.length + 1
          }</td>
          <td>${doctorName}</td>
          <td>
            <div class='remove-btn'>
              <button onclick="removeDoctor(this)">Remove</button>
            </div>
          </td>
        </tr>
      `;
        document.getElementById("doctorsTableBody").innerHTML += newRow;
        document.getElementById("doctor").value = "";
      } else {
        console.error("Failed to add doctor:", response.statusText);
      }
    }

    function checkFormValidity() {
      const filesInput = document.getElementById("files");
      const uploadBtn = document.getElementById("uploadBtn");
      const doctorsListRows = document.getElementById("doctorsTableBody").rows;
    }

    function removeDoctor(button) {
      const row = button.closest("tr");
      row.remove();
      checkFormValidity();
    }

    function validateForm() {
      const doctorsListRows = document.getElementById("doctorsTableBody").rows;
      const filesInput = document.getElementById("files");

      if (doctorsListRows.length === 0 || filesInput.files.length === 0) {
        alert("Please add at least one doctor and select a file.");
        return false;
      }
      return true;
    }

    async function handleFormSubmit() {
      if (!validateForm()) {
        return false;
      }

      const form = document.getElementById("uploadForm");
      const elements = form.elements;
      const submitBtn = document.getElementById("uploadBtn");

      document.getElementById("loadingIndicator").style.display = "block";
      document.getElementById("loadingIndicator").style.display = "flex";
      form.classList.add("disabled");

      const formData = new FormData(form);

      try {
        const response = await fetch("/upload", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          alert("File uploaded successfully!");
        } else {
          alert("Failed to upload file.");
        }
      } catch (error) {
        console.error("Error uploading file:", error);
        alert("An error occurred while uploading the file.");
      } finally {
        document.getElementById("loadingIndicator").style.display = "none";
        form.classList.remove("disabled");
      }

      return false;
    }

    document
      .getElementById("files")
      .addEventListener("change", checkFormValidity);
  </script>
</html>
